* {
	box-sizing: border-box;
}

body {
	color: #444;
}

a {
	cursor: pointer;
}

.u-invis {
	visibility: hidden;
}

.u-center-text {
	text-align: center;	
}


.u-button-group button {
	margin-left: 1rem;
}

.u-button-group button:first-child {
	margin-left: 0;	
}



/******/

.banner-menu {
	position: absolute;
	right: 0;
	top: 1rem;
}


/*******/

.nav {
	list-style: none;
	display: table;	
	width: 100%
}

.nav-link {
	color: #444;
	display: table-cell;
	width: 20%;
	padding: 1rem 0;
	text-align: center;	
	text-decoration: none;
}

.nav-link-active {
	background: #444;
	color: #FFF;
	width: 60%
}


/********/

.grid-container {
	margin: 0 auto;
	position: relative;
	z-index: 0;
	width: 60rem
}

.grid-box {	
	position: relative;
    width: 20rem;
    height: 20rem;
    padding: 0.5rem;
    float:left;
    -webkit-user-select: none;
  	-moz-user-select: none;
  	-ms-user-select: none;
  	user-select: none;
}

.grid-box img {
	width:100%;
	height:100%;
}

.grid-box-spin-circle {
	line-height: 20rem;
}

.grid-box:hover .grid-box-overlay {
	display: none;
}

.grid-box-overlay {
	position: absolute;
	top: 0.5rem;
	color: #EEE;
	padding: 1rem;
	width: 19rem;
	height: 19rem;	
	z-index: 1;
}

.grid-caret {
	font-size: 5rem;
	color: #444;
}


/*******/

.login-form-close {
	position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    color: #444;
}

.login-form-footer {
	margin-top: 2rem;
}


/**********/

.register-form-container,
.invitation-form-container {
	width: 30rem;
	margin: 2rem auto 0 auto;	
}

.login-dialog-container {
	width: 30rem;
	margin: 0 auto;	
}