.artist-page-header{
	margin-bottom: 32px;
	margin-bottom: 2rem	
}
.artist-page-header img{
	width: 180px;
	height: 180px;
	border-radius: 50%	
}
.artwork-abstract {	
	margin: 0 0 32px 0;	
	margin: 0 0 2rem 0;
}
.artwork-abstract-image {	
	overflow: hidden;	
	width: 100%;
}
.artwork-abstract-likes {
    margin-right: 80px;
    margin-right: 5rem;
}
.artwork-abstract-reply .fa,
.artwork-abstract-likes .fa {
	margin-right: 16px;
	margin-right: 1rem;
}
.artwork-abstract-meta {
	margin-top: 16px;
	margin-top: 1rem;
}
html {
  box-sizing: border-box;  
}
body {
    background-color: #e0e0e0;
	color: #000;
    font-size: 14px;
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;    
}
*, *:before, *:after {
  box-sizing: inherit;
}
a {
	text-decoration: none;	
	cursor: pointer;
}
a, a:hover {
	color: inherit;
}
.grids {
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, "FZLanTingHeiS-UL-GB", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
.grids-container {	
	position: relative;
	z-index: 0;
	margin: 17px 0 75px 0;
	width: 100%;        
}
.grid-box {	
	position: relative;    
    float:left;
  	margin: 10px;
    width: 285px;
    height: 285px;
  	-webkit-user-select: none;
  	   -moz-user-select: none;
  	    -ms-user-select: none;
  	        user-select: none
}
.grid-box img{
	width: 100%;
	height: 100%	
}
.grid-box .fa-circle-o-notch{
	line-height: 250px	
}
.grid-row {   
}
.grid-row .grid-box:first-child{
	margin-left: 0	
}
.grid-row .grid-box:last-child{
	margin-right: 0	
}
.grid-box-overlay {
	position: absolute;
	top: 0;	
	z-index: 1;
	padding: 20px;
	width: 100%;
	height: 100%;	
	color: #fff;    
}
.grid-box-title {
	margin-bottom: 10px;
	font-weight: bold;
	font-size: 20px;
}
.grid-box-desc {
	color: #ffffff;
	color: rgba(255, 255, 255, 0.8);
	font-size: 14px;
}
.grid-footer {
	margin: 0 0 20px 0;
	font-size: 18px;
}
.grids-loading {
    padding: 100px 0 0 0;
    height: 200px;    
}
.grid-box-overlay-r {
    background: #e47f68;
    background: rgba(228, 127, 104, 0.8);
}
.grid-box-overlay-g {
    background: #7fc4ab;
    background: rgba(127, 196, 171, 0.8);
}
.grid-box-overlay-b {
    background: #495579;
    background: rgba(73, 85, 121, 0.8);
}
.grid-box-overlay-y {
    background: #eea975;
    background: rgba(238, 169, 117, 0.8);
}
.login-dialog-container {
	margin: 0 auto;
	width: 480px;
	width: 30rem;	
}
.login-form-close {
	position: absolute;
    top: 16px;
    top: 1rem;
    right: 16px;
    right: 1rem;
    font-size: 32px;
    font-size: 2rem;    
}
.login-form-footer {
	margin-top: 32px;
	margin-top: 2rem;
}
.nav {
	display: table;		
	margin: 20px 0;
	list-style: none;
}
.nav-link {	
	display: table-cell;
	padding: 16px 0;
	padding: 1rem 0;
	width: 33.3%;
	border-bottom: 2px solid rgba(0, 0, 0, 0.4);
	color: #000000;
	color: rgba(0, 0, 0, 0.4);
	text-align: center;	
	text-decoration: none;
	font-size: 24px;
}
.nav-link-active {
	border-bottom: 2px solid #000;
	color: #000;	
}
.image-loader {
	max-width: 100%;
	-webkit-animation-duration:0.3s;
	        animation-duration:0.3s;
}
.register-form-container,
.invitation-form-container {
	margin: 32px auto 0 auto;
	margin: 2rem auto 0 auto;
	width: 480px;
	width: 30rem;	
}
.register-form-upload {
    margin: 50px auto;
	width: 180px;
    height: 180px;    
    border: 1px solid #222;
    border-radius: 50%;
}
.register-form-upload-label {
	line-height: 180px;
	cursor: pointer;
}
.register-form-img-editor {
	position: relative;
	margin: 0 auto;
	width: 280px
}
.register-form-img-editor canvas{
	cursor: -webkit-grab;
	cursor: grab	
}
.register-form-img-clear {
	position: absolute;
	top: 5px;
	right: 5px;
}
.register-form-img-slider {
	position: relative;
    box-sizing: border-box;
    margin: 0 auto 32px auto;
    margin: 0 auto 2rem auto;
    width: 280px;
    height: 4px;
    border-radius: 6px;
    background-color: #222
}
.register-form-img-slider .rc-slider-handle{
	position: absolute;
	z-index: 2;
	margin: -5px 0 0 -7px;
	width: 14px;
	height: 14px;
	border: solid 2px #222;
	border-radius: 50%;
	background-color: #fff;
	cursor: pointer	
}
.register-form-img-slider .rc-slider-track{
	position: absolute;
	left: 0;
	z-index: 1;
	height: 4px;
	border-radius: 6px	
}
.register-form-img-slider .rc-slider-step{
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 4px;
	background: transparent	
}
.register-form-img-slider .rc-slider-mark{
	display: none	
}
.u-invis {
	visibility: hidden;
}
.u-center-text {
	text-align: center;	
}
.footer {
	height: 230px;
	background: #000;
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, "FZLanTingHei-R-GBK", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
.footer-container {	
	margin: 0 auto;
	padding: 20px 0 0 0;
	width: 600px;
	color: #ffffff;
	color: rgba(255, 255, 255, 0.4);
	font-size: 12px
}
.footer-container ul{
	list-style: none	
}
.footer-container .fa-stack{
	margin: 0 5px 0 0	
}
.footer-container .fa-qq,
	.footer-container .fa-wechat,
	.footer-container .fa-weibo{
	color: #000	
}
.footer-list-title {
	color: #fff;
	font-size: 14px
}
.banner {
    padding: 10px 0;
    height: 228px;		
    background: url("http://ac-WWmjkSPL.clouddn.com/d24689804ed95d12ff6d.png");    
}
.banner-content {
    color: #ffffff;
    color: rgba(255, 255, 255, 0.5);
    font-size: 18px;
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, "FZLanTingHei-R-GBK", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
.menu {
    margin: 0 auto;
    width: 1294px;
    color: #ffffff;
    color: rgba(255, 255, 255, 0.5);
    font-weight: bold;
	font-size: 16px;
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, "FZLanTingHeiS-UL-GB", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
.menu-actions a {
    display: inline-block;
    margin: 10px 0 0 0;
	width: 64px;
	height: 32px;
	text-align: center;
    font-weight: bold;
	line-height: 32px
}
.menu-actions a:hover{
	border: 1px solid #ffffff;
	border: 1px solid rgba(255, 255, 255, 0.6);
	line-height: 30px	
}
.menu-user {
    height: 50px 
}
.menu-user img{
	width: 50px;
	height: 100%;
	border-radius: 50%	
}
.menu-user a{
	display: inline-block;
	margin: 0 0 0 15px;
	vertical-align: top;
	line-height: 50px	
}
.menu-search {
	margin: 10px 15px 0 0;
	padding: 0 15px 0 0;
	height: 32px;
	border-right: 1px solid rgba(255, 255, 255, 0.6)
}
.menu-search .fa{
	line-height: 32px	
}
.login-container {
	margin: 0 auto;
	width: 480px;
	width: 30rem;	
}
.login-close {
	position: absolute;
    top: 16px;
    top: 1rem;
    right: 16px;
    right: 1rem;
    font-size: 32px;
    font-size: 2rem;    
}
.login-footer {
	margin-top: 32px;
	margin-top: 2rem;
}
.app-container {
	margin-bottom: 150px;
	max-width: 1200px;
	width: 1200px;
}
.abstract {
    width: 742px;   
    border: 1px black solid;
}
.abstract-heading {
    position: relative;
    padding: 30px 20px 0;
    height: 128px;
    border-bottom: 1px black solid;
}
.abstract-title {
    width: 70%;    
}
.abstract-title-name {
    margin: 0 250px 0 0;
    font-size: 24px;
}
.abstract-author {
    position: absolute;
    top: 0;
    right: 0;
    width: 30%;
    border-left: 1px solid black;
    line-height: 128px;    
}
.abstract-author-name {
    font-size: 16px;
}
.abstract-author-img {    
    margin: 0 0 0 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%; 
    vertical-align: middle;    
}
.abstract-content {
    padding: 0 40px;
}
.abstract-image {
    margin: 38px 0;
    width: 662px;
    height: 266px;
}
.abstract-desc {
    margin: 0 0 38px 0;
}
.abstract-meta {
    margin: 0 0 56px 0;
}
.abstract-reply,
.abstract-likes {
    margin: 0 20px;   
}
.abstract-likes .fa {
    margin: 0 10px 0 0;
}
.card {
    position: relative;
    width: 204px;
    border: 1px solid black;
}
.card-author-image {
    position: absolute;
    right: 5px;
    bottom: 15px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
.card-timestamp {
    padding: 5px 5px 0;
    font-size: 11px;
}
.card-title {
    padding: 0 5px 2px 5px;
    font-size: 11px;
}
.card-category {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 26px;
    background: #86754d;
    color: white;
}