/* ring colors */
/* ring radius */
/* radius of dots in the ring */
/* hidden dots by index in each rings */
/* animation durations, bigger means slower */
/* ring spnning directions */
@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* line 65, ../sass/screen.scss */
.ring {
  width: 2px;
  height: 2px;
  border-radius: 50%;
  position: absolute;
  left: 166px;
  top: 166px;
}

/* line 74, ../sass/screen.scss */
.ring-1 {
  -moz-animation: spin 15s linear infinite normal;
  -webkit-animation: spin 15s linear infinite normal;
  animation: spin 15s linear infinite normal;
  box-shadow: 10.45285px 99.45219px 0 2px #ff9900, 20.79117px 97.81476px 0 2px #ff9900, 30.9017px 95.10565px 0 2px #ff9900, 40.67366px 91.35455px 0 2px #ff9900, 50.0px 86.60254px 0 2px #ff9900, 58.77853px 80.9017px 0 2px #ff9900, 66.91306px 74.31448px 0 2px #ff9900, 74.31448px 66.91306px 0 2px #ff9900, 80.9017px 58.77853px 0 2px #ff9900, 86.60254px 50.0px 0 2px #ff9900, 91.35455px 40.67366px 0 2px #ff9900, 95.10565px 30.9017px 0 2px #ff9900, 97.81476px 20.79117px 0 2px #ff9900, 99.45219px -10.45285px 0 2px #ff9900, 97.81476px -20.79117px 0 2px #ff9900, 95.10565px -30.9017px 0 2px #ff9900, 91.35455px -40.67366px 0 2px #ff9900, 86.60254px -50.0px 0 2px #ff9900, 80.9017px -58.77853px 0 2px #ff9900, 74.31448px -66.91306px 0 2px #ff9900, 66.91306px -74.31448px 0 2px #ff9900, 58.77853px -80.9017px 0 2px #ff9900, 50.0px -86.60254px 0 2px #ff9900, 40.67366px -91.35455px 0 2px #ff9900, 30.9017px -95.10565px 0 2px #ff9900, -10.45285px -99.45219px 0 2px #ff9900, -20.79117px -97.81476px 0 2px #ff9900, -30.9017px -95.10565px 0 2px #ff9900, -40.67366px -91.35455px 0 2px #ff9900, -50.0px -86.60254px 0 2px #ff9900, -58.77853px -80.9017px 0 2px #ff9900, -66.91306px -74.31448px 0 2px #ff9900, -74.31448px -66.91306px 0 2px #ff9900, -80.9017px -58.77853px 0 2px #ff9900, -86.60254px -50.0px 0 2px #ff9900, -91.35455px -40.67366px 0 2px #ff9900, -95.10565px -30.9017px 0 2px #ff9900, -97.81476px -20.79117px 0 2px #ff9900, -99.45219px -10.45285px 0 2px #ff9900, -100px 0.0px 0 2px #ff9900, -99.45219px 10.45285px 0 2px #ff9900, -97.81476px 20.79117px 0 2px #ff9900, -95.10565px 30.9017px 0 2px #ff9900, -91.35455px 40.67366px 0 2px #ff9900, -86.60254px 50px 0 2px #ff9900, -66.91306px 74.31448px 0 2px #ff9900, -58.77853px 80.9017px 0 2px #ff9900, -50.0px 86.60254px 0 2px #ff9900, -20.79117px 97.81476px 0 2px #ff9900, -10.45285px 99.45219px 0 2px #ff9900, 0.0px 100px 0 2px #ff9900;
}

/* line 79, ../sass/screen.scss */
.ring-2 {
  -moz-animation: spin 30s linear infinite reverse;
  -webkit-animation: spin 30s linear infinite reverse;
  animation: spin 30s linear infinite reverse;
  box-shadow: 12.54342px 119.34263px 0 3px #e68900, 24.9494px 117.37771px 0 3px #e68900, 37.08204px 114.12678px 0 3px #e68900, 48.8084px 109.62545px 0 3px #e68900, 60.0px 103.92305px 0 3px #e68900, 70.53423px 97.08204px 0 3px #e68900, 80.29567px 89.17738px 0 3px #e68900, 89.17738px 80.29567px 0 3px #e68900, 97.08204px 70.53423px 0 3px #e68900, 103.92305px 60.0px 0 3px #e68900, 109.62545px 48.8084px 0 3px #e68900, 114.12678px 37.08204px 0 3px #e68900, 117.37771px 24.9494px 0 3px #e68900, 119.34263px 12.54342px 0 3px #e68900, 120px 0.0px 0 3px #e68900, 114.12678px -37.08204px 0 3px #e68900, 109.62545px -48.8084px 0 3px #e68900, 103.92305px -60.0px 0 3px #e68900, 97.08204px -70.53423px 0 3px #e68900, 89.17738px -80.29567px 0 3px #e68900, 80.29567px -89.17738px 0 3px #e68900, -70.53423px -97.08204px 0 3px #e68900, -80.29567px -89.17738px 0 3px #e68900, -89.17738px -80.29567px 0 3px #e68900, -97.08204px -70.53423px 0 3px #e68900, -103.92305px -60.0px 0 3px #e68900, -109.62545px -48.8084px 0 3px #e68900, -114.12678px -37.08204px 0 3px #e68900, -117.37771px -24.9494px 0 3px #e68900, -119.34263px -12.54342px 0 3px #e68900, -120px 0.0px 0 3px #e68900, -119.34263px 12.54342px 0 3px #e68900, -109.62545px 48.8084px 0 3px #e68900, -103.92305px 60px 0 3px #e68900, -80.29567px 89.17738px 0 3px #e68900, -70.53423px 97.08204px 0 3px #e68900, -60.0px 103.92305px 0 3px #e68900, -48.8084px 109.62545px 0 3px #e68900, -37.08204px 114.12678px 0 3px #e68900, 0.0px 120px 0 3px #e68900;
}

/* line 84, ../sass/screen.scss */
.ring-3 {
  -moz-animation: spin 10s linear infinite normal;
  -webkit-animation: spin 10s linear infinite normal;
  animation: spin 10s linear infinite normal;
  box-shadow: 14.63398px 139.23307px 0 4px #e63a00, 29.10764px 136.94066px 0 4px #e63a00, 127.89636px 56.94313px 0 4px #e63a00, 133.14791px 43.26238px 0 4px #e63a00, 136.94066px -29.10764px 0 4px #e63a00, 133.14791px -43.26238px 0 4px #e63a00, 113.26238px -82.28994px 0 4px #e63a00, 104.04028px -93.67828px 0 4px #e63a00, 93.67828px -104.04028px 0 4px #e63a00, 82.28994px -113.26238px 0 4px #e63a00, 43.26238px -133.14791px 0 4px #e63a00, 29.10764px -136.94066px 0 4px #e63a00, 14.63398px -139.23307px 0 4px #e63a00, 0.0px -140px 0 4px #e63a00, -14.63398px -139.23307px 0 4px #e63a00, -29.10764px -136.94066px 0 4px #e63a00, -43.26238px -133.14791px 0 4px #e63a00, -56.94313px -127.89636px 0 4px #e63a00, -70.0px -121.24356px 0 4px #e63a00, -82.28994px -113.26238px 0 4px #e63a00, -93.67828px -104.04028px 0 4px #e63a00, -104.04028px -93.67828px 0 4px #e63a00, -113.26238px -82.28994px 0 4px #e63a00, -121.24356px -70.0px 0 4px #e63a00, -127.89636px -56.94313px 0 4px #e63a00, -133.14791px -43.26238px 0 4px #e63a00, -136.94066px -29.10764px 0 4px #e63a00, -139.23307px -14.63398px 0 4px #e63a00, -140px 0.0px 0 4px #e63a00, -139.23307px 14.63398px 0 4px #e63a00, -136.94066px 29.10764px 0 4px #e63a00, -133.14791px 43.26238px 0 4px #e63a00, -113.26238px 82.28994px 0 4px #e63a00, -104.04028px 93.67828px 0 4px #e63a00, -70.0px 121.24356px 0 4px #e63a00, -56.94313px 127.89636px 0 4px #e63a00, -43.26238px 133.14791px 0 4px #e63a00, -29.10764px 136.94066px 0 4px #e63a00, -14.63398px 139.23307px 0 4px #e63a00, 0.0px 140px 0 4px #e63a00;
}

/* line 89, ../sass/screen.scss */
.ring-4 {
  -moz-animation: spin 20s linear infinite reverse;
  -webkit-animation: spin 20s linear infinite reverse;
  animation: spin 20s linear infinite reverse;
  box-shadow: 16.72455px 159.1235px 0 5px #b32d00, 33.26587px 156.50362px 0 5px #b32d00, 49.44272px 152.16904px 0 5px #b32d00, 65.07786px 146.16727px 0 5px #b32d00, 80.0px 138.56406px 0 5px #b32d00, 94.04564px 129.44272px 0 5px #b32d00, 107.0609px 118.90317px 0 5px #b32d00, 118.90317px 107.0609px 0 5px #b32d00, 129.44272px 94.04564px 0 5px #b32d00, 138.56406px 80.0px 0 5px #b32d00, 146.16727px 65.07786px 0 5px #b32d00, 152.16904px 49.44272px 0 5px #b32d00, 156.50362px 33.26587px 0 5px #b32d00, 159.1235px 16.72455px 0 5px #b32d00, 160px 0.0px 0 5px #b32d00, 159.1235px -16.72455px 0 5px #b32d00, 156.50362px -33.26587px 0 5px #b32d00, 152.16904px -49.44272px 0 5px #b32d00, 146.16727px -65.07786px 0 5px #b32d00, 138.56406px -80.0px 0 5px #b32d00, 129.44272px -94.04564px 0 5px #b32d00, 33.26587px -156.50362px 0 5px #b32d00, 16.72455px -159.1235px 0 5px #b32d00, 0.0px -160px 0 5px #b32d00, -16.72455px -159.1235px 0 5px #b32d00, -65.07786px -146.16727px 0 5px #b32d00, -80.0px -138.56406px 0 5px #b32d00, -94.04564px -129.44272px 0 5px #b32d00, -107.0609px -118.90317px 0 5px #b32d00, -118.90317px -107.0609px 0 5px #b32d00, -129.44272px -94.04564px 0 5px #b32d00, -138.56406px -80.0px 0 5px #b32d00, -146.16727px -65.07786px 0 5px #b32d00, -152.16904px -49.44272px 0 5px #b32d00, -156.50362px -33.26587px 0 5px #b32d00, -159.1235px -16.72455px 0 5px #b32d00, -146.16727px 65.07786px 0 5px #b32d00, -138.56406px 80px 0 5px #b32d00, -129.44272px 94.04564px 0 5px #b32d00, -118.90317px 107.0609px 0 5px #b32d00, -107.0609px 118.90317px 0 5px #b32d00, -94.04564px 129.44272px 0 5px #b32d00, -49.44272px 152.16904px 0 5px #b32d00, -33.26587px 156.50362px 0 5px #b32d00, -16.72455px 159.1235px 0 5px #b32d00, 0.0px 160px 0 5px #b32d00;
}

/* line 94, ../sass/screen.scss */
.wrapper {
  width: 332px;
  height: 332px;
}
